html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#glCanvas {
  display: block;
  margin: auto;
  width: 90vmin;
  height: 90vmin;
}

