body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  font-family: "Verdana", sans-serif;
  font-size: 12pt;
}

#glCanvas {
  display: none;
  margin: auto;
  width: 90vmin;
  height: 90vmin;
  border: 1px solid #a7aca2;
}

#progressBar {
  display: block;
  margin: auto;
  width: 90vmin;
  background-color: white;
}

#barProgress {
  width: 0vmin;
  height: 30px;
  background-color: #d73f09;
  padding: 10px 0;
}

.labelTitle {
  width: 113px;
  border: 1px solid black;
  padding: 10px;
}

.upload {
  width: 167px;
  border: 1px solid black;
  border-left: 0;
  padding: 10px;
}

#loading {
  padding: 0 10px;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90vh;
  padding: 5vh;
  border-left: 1px solid #a7aca2;
}

#play, #pause, #replay {
  display: none;
}

#play, #pause, #replay, #build {
  background: white;
  border: 1px solid black;
  color: black;
  padding: 10px;
  cursor: pointer;
  font-family: "Verdana", sans-serif;
  font-size: 12pt;
}

#play:disabled, #pause:disabled, #replay:disabled, #build:disabled {
  cursor: initial;
  border: 1px solid #a7aca2;
  color: #a7aca2;
}

input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

button::-moz-focus-inner {
  border: 0;
}

.group {
  display: flex;
  flex-direction: row;
  padding: 5vh 0;
}

.subitem {
  cursor: pointer;
}

/* When width smaller than height */
@media screen and (orientation: portrait) {
  body {
    flex-direction: column;
  }

  #controls {
    height: auto;
    width: 90vw;
    padding: 0;
    border-left: 0;
    border-top: 2px solid #aaa;
  }

  .group {
    padding: 0;
  }
}

/* When width smaller than height but close enough to a square that not
 * everything fits */
@media screen and (orientation: portrait) and (min-aspect-ratio: 2/3) {
  #glCanvas {
    width: 60vh;
    height: 60vh;
  }
}

/* When width larger than height but close enough to a square that not
 * everything fits */
@media screen and (orientation: landscape) and (max-aspect-ratio: 3/2) {
  #glCanvas {
    width: 60vw;
    height: 60vw;
  }
}
